<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.new_badge'), new_admin_badge_path %>
</p>

<table class="table">
  <tr>
    <th>Badge</th>
    <th> <%= t('.name') %></th>
    <th><%= t('.rule') %></th>
    <th colspan="3" ><%= t('.action') %>:</th>
  </tr>

  <%= render @badges %>
</table>
