<h1><%= t('.header') %></h1>

<p>Earned badges</p>

<table class="table">
  <tr>
    <th>Badge</th>
    <th> <%= t('.name') %></th>
    <th><%= t('.rule') %></th>
    <th><%= t('.rule_value') %></th>

  <%= render @badges %>
</tr>
</table>
