<div class="row justify-content-center mt-3">
  <div class="col col-md-4">

    <h1><%= t('.header', title: @test_passage.test.title) %></h1>

    <h6><%= t('.indicator') %>:</h6>

    <div class="progress">
      <%= content_tag :div,
                      '0%',
                      class: 'progress-bar',
                      role: 'progressbar',
                      aria_valuenow: '0',
                      aria_valuemin: '0',
                      aria_valuemax: '100',
                      data: { questions_count: @test_passage.test.questions_count,
                              question_number: @test_passage.question_number }
                       %>

    </div></br>

    <p>Test time left: <%= content_tag :span,
                                       '0',
                                       id: 'timer',
                                       data: { result_link: result_test_passage_url(@test_passage),
                                               start_point: @test_passage.created_at.to_i,
                                               time_amount: @test_passage.test.timer }
                        %>sec.</p>
    <!-- <progress id="timer" value="0" max="100"></progress> -->

    <p>
      <b><%= @test_passage.current_question.body %></b>
    </p>

    <p>
      Вопрос <%= @test_passage.question_number %> из <%= @test_passage.test.questions_count %>
    </p>

    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object.id}" %>
          <%= b.label %>
        </p>
      <% end %>


      <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
      <p><%= form.submit 'Next' %></p>
    <% end %>
  </div>
</div>
